.center{  display: flex;
    margin: 0;
    padding: 2%;
    position: absolute;
    top: 48%;
    left: 48%;
    display: grid;
}
#butt{
    border: 10px solid rgb(71, 60, 173);
    border-radius: 25%;
    background-color: rgb(71, 60, 173);
}
#resp{
    padding: 10%;
}
